<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base/layout.html}">
	
	<body>
        <th:block layout:fragment="breadcrumb">
            <li class="breadcrumb-item"><a href="/corretora/lista">Corretora</a></li>
            <li class="breadcrumb-item active">Saldo</li>
        </th:block>
        
        <div layout:fragment="page_content" id="page_content">
        <!-- <p class="lead">Saldo das corretoras</p> -->
            <form action="#" id="form-corretora-saldo" th:object="${saldoCorretoraVO}" th:action="@{/corretora/saldo-consulta}" method="POST">
                <div class="form-row">
                    <!-- Data inicio -->
					<div class="form-group col-md-2">
						<label for="dataInicio">Data inicio</label>
						<input type="text" class="form-control" id="dataInicio" name="dataInicio" th:value="${#dates.format(saldoCorretoraVO.dataInicio,'dd/MM/yyyy')}" placeholder="dd/mm/aaaa">
						<div class="invalid-tooltip">Please choose a unique and valid username.</div>	
					</div>
					<!-- Data fim -->
					<div class="form-group col-md-2">
                        <label for="dataFim">Data Fim</label>					
                        <input type="text" class="form-control" id="dataFim" name="dataFim" th:value="${#dates.format(saldoCorretoraVO.dataFim,'dd/MM/yyyy')}" placeholder="dd/mm/aaaa">
					</div>
					<!-- Corretoras -->
                    <div class="form-group col-md-2">
                        <label for="corretora">Corretora</label>
                        <select class="form-control" id="idCorretora" name="idCorretora" th:value="${idCorretora}" >
                            <option value=""> </option>
                            <option th:each="cor : ${corretoras}" th:value="${cor.id}" th:text="${cor.nome}"></option>
                        </select>
                    </div>
                    <!-- Submit -->
                    <button class="btn btn-outline-success" type="submit">Enviar</button>                           
				</div>
            </form>
            
            <hr>       
            
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Pregão</th>
                        <th scope="col">Corretora</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Contratos</th>
                        <th scope="col">Média</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="saldo : ${lista}">
                        <td th:text="${#dates.format(saldo.pregao,'dd/MM/yyyy')}" />
                        <td th:text="${saldo.corretora.nome}" />
                        <td th:text="${#numbers.formatInteger(saldo.volFinanceiro,3,'POINT')}" />
                        <td th:text="${#numbers.formatInteger(saldo.volQuantidade,3,'POINT')}" />
                     <td th:text="${#numbers.formatDecimal(saldo.media,2,2,'COMMA')}" />
<!--                          <td th:text="${saldo.media}" /> -->
                    </tr>
                </tbody>            
            </table>                             
        </div>                        
	</body>	
</html>