<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base/layout.html}">
	
	<body>
        <th:block layout:fragment="breadcrumb">
            <li class="breadcrumb-item"><a href="/ordem-original/consulta">Blah blah</a></li>
            <li class="breadcrumb-item active">Consulta</li>
        </th:block>
        
        <div layout:fragment="page_content" id="page_content">
	        <p class="lead">Ordem original - Agressões</p>
			
	        <form action="#" id="form-ordem-original" th:object="${ordemOriginalVO}" th:action="@{/ordem-original/consulta}" method="POST">			
				<div class="form-row">
				    <!-- Data do pregão -->
					<div class="form-group col-md-2">
						<label for="pregao">Data do pregão</label> 
						<input type="text"
							   class="form-control date" id="pregao"
							   placeholder="dd/mm/aaaa"
							   th:field="*{pregao}"
							   th:value="${#dates.format(ordemOriginalVO.pregao,'dd/MM/yyyy')}">
					</div>
		            <!-- Agressão -->
		            <div class="form-group col-md-2">
		                <label for="agressao">Agressão</label> 
		                <select class="form-control" 
		                        id="agressao" 
		                        th:field="*{agressao}"
		                        th:value="${ordemOriginalVO.agressao}">
		                    <option value=""></option>
		                    <option value="C">Compra</option>
		                    <option value="V">Venda</option>
		                    <option value="A">Compra e Venda</option>
		                </select>
		            </div>
	                <!-- Lotes -->
	                <div class="form-group col-md-2">
	                    <label for="lotes">Lotes</label> 
	                    <select class="form-control" 
	                            id="quantidade" 
	                            th:field="*{quantidade}"
	                            th:value="${ordemOriginalVO.quantidade}">
	                        <option value=""></option>
	                        <option value="5">5</option>
	                        <option value="25">25</option>
	                        <option value="50">50</option>
	                        <option value="100">100</option>
	                        <option value="150">150</option>
	                        <option value="200">200</option>
	                        <option value="250">250</option>
	                        <option value="300">300</option>
	                    </select>
	                </div>
	                <!-- Corretora -->
					<div class="form-group col-md-2">
						<label for="corretora">Corretora</label> 
						<select class="form-control" 
						        id="corretora" 
							    th:value="${ordemOriginalVO.corretora}"
							    th:field="*{corretora}">
							<option value=""></option>
							<option th:each="cor : ${corretoras}" th:value="${cor.id}" th:text="${cor.nome}"></option>
						</select>
					</div>
                    <div class="form-group col-md-1">
                    <label for="submit">vai</label>
                        <button type="submit" id="submit" class="btn btn-outline-success">Consultar</button>
                    </div>
				</div>
			</form>
	
			<hr>
	
			<table class="table table-hover">
				<thead>
					<tr class="table-success">
						<th scope="col">Pregão</th>
						<th scope="col">Hora</th>
						<th scope="col">Corretora</th>
						<th scope="col">Lotes</th>
						<th scope="col">Valor</th>
						<th scope="col">Agressão</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
        </div>                        
	</body>	
</html>