<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base/layout.html}">
	
	<body>
        <th:block layout:fragment="breadcrumb">
            <li class="breadcrumb-item"><a href="/pregao/principal">Frequência</a></li>
            <li class="breadcrumb-item active">Historico</li>
        </th:block>
        
        <div layout:fragment="page_content" id="page_content">
            <p class="lead">Histórico de frequencia</p>
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Pregao</th>
                        <th scope="col">Abertura</th>
                        <th scope="col">Fechamento</th>
                        <th scope="col">Mínima</th>
                        <th scope="col">Máxima</th>
                        <th scope="col">Média 10%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="freq: ${historico}">
                        <td th:text="${#dates.format(freq.data,'dd/MM/yyyy')}" />
                        <td th:text="${freq.abertura}" />
                        <td th:text="${freq.fechamento}" />
                        <td th:text="${freq.minima}" />
                        <td th:text="${freq.maxima}" />
                        <td th:text="${freq.media}" />
                    </tr>
                </tbody>            
            </table>
        </div>                        
	</body>	
</html>